<div class="jumbotron">
  <h1>Personal Recipe Box <h1>

  </div>


  <a href="/recipes" class="btn btn btn-success">Recipes</a>

  <hr>
</br>

<a href="participant" class="btn btn btn-primary">Categories</a>
